.bgred {
    background-color: #D12121;
}
.placement {
    margin:auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1000px;
}

/**************************************************************/
/*************************** HEADER ***************************/
/**************************************************************/
#header_nav > nav {
    position: relative;
    display: inline-block;
    margin: auto;
}
#header_nav {
    text-align: center;
    position: fixed;
    top: 0;
	left: 0;
	right: 0;
    min-width: 800px;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    display: block;
    z-index: 2000;
}
#header_logo {
    height: 48px;
    width: 240px;
    display: inline-block;
    background-color: #ccc;
    top: -15px;
    text-align: left;
    position: relative;
    background-image: url('logo.jpg');
    background-position: center;
    background-size: contain;
}
#header_nav > nav > ul > li {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
    color: white;
    font-weight: bold;
}
#header_nav > nav > ul {
    display: inline-block;
    list-style: none;
}


/**************************************************************/
/*************************** FOOTER ***************************/
/**************************************************************/

.main_footer {
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #cdf;
    background-color: rgb(200,200,200);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.main_footer > div {
    height: inherit;
}
.main_footer > div > ul {
    height: inherit;
    display: inline-block;
    width: 100px;
    position: absolute;
    list-style:none;
    padding-top: 10px;
    float: right;
}
.main_footer > div > ul > li {
    padding-top: 20px;
    width: 100px;
    margin-left: 30px;
}
.main_footer > div > #logo {
    height:inherit;
    display: inline-block;
    height: 200px;
    float: left;
}
.main_footer > div > #logo > img {
    height: inherit;
    width: auto;
}

/**************************************************************/
/************************* INSTAGRAM **************************/
/**************************************************************/


