* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html, body {
    height: 100%;
    min-width: 800px;
    background: rgb(240,240,240);
}
#wrapper {
    min-height: 100%;
    position: relative;
}

#wrapper > header {
    height: 400px;
    background-image: url('header.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: -50px;
}

main {
    padding-bottom: 300px;
    margin:auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1000px;
}
main>.instagram {
    /*detta tror jag är instaflow*/
    height: 100px;
    float: left;
    width: 300px;
    background: red;
    
}
main > .flow {

    margin-left: 300px;
}
main > section > article {
    background: white;
    margin-bottom: 20px;
    margin-left: 30px;
    padding: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    border-radius: 3px;
}
main > section > article > p {
    padding: 10px;
    }
main > section > article > header {
    height: 50px;
    width: 100%;
    position: relative;
}
main > section > article > header > h1 {
    font-size: 25px;
    position: absolute;
    bottom: 0;
    padding-left: 10px;
    
}
main > section > article > header > h2{
    text-align: right;
    font-size: 15px;
    display: block;
    position: absolute;
    bottom: 2px;
    right: 0;
    padding-right: 10px;
    
}